@import url('https://fonts.cdnfonts.com/css/torus?styles=87767');
@import url('https://fonts.cdnfonts.com/css/claro');
                

/* Style du heading et paragraphe */
h1 {
  font-family: Torus, sans-serif;
  color: #3f51b5;
  padding-bottom: 1px;
}

p {
  font-family: Torus, sans-serif;
  color: black;
  line-height: 1.5; /* distance between lines in a paragraph */
  margin-bottom: 10px /* distance between paragraphs */
}

article {
  margin: 50px;
  line-height: 1.5; /* distance between lines in a paragraph */
  margin-bottom: 50px;
}

/* Diviser la page en 2 colonnes */
.container {
    display: flex;
    flex-wrap: wrap;
  }  
.column {
    flex: 1;
    margin: 10px;
  }

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  margin: 5px 100px 50px 100px;
  background-color: #eceff1
}

.caption {
  text-align: center;
  justify-content: center;
  color: #009688;
  margin:auto;
  padding: 30px;
}